<% @products.each do |product| %>
<div id='<%= "product-#{product.id}-section" %>'>
   <h2><%= product.name %> </h2>
   <p></p>
   <button class="js-more-buttons" data-id='<%= "product-#{product.id}" %>'>More Info</button>
</div>
<% end %>

<script>

  $(".js-more-buttons").on("click", viewMore)


function viewMore(){
  let id = $(this).data("id")


}

function showInventoryStatus(data, id){
  $.get("/inventory", {"id": id.split("-")[1]},
     (data) => {
       if( data == "false"){
          $("#" + id + "-section p").text("<p>Sold Out!</p>")
       }
       else{
          $("#" + id + "-section p").text("<p>Available!</p>")
       }

     }
  )
}
</script>
