<% @products.each do |product| %>
<div id='<%= "product-#{product.id}-section" %>'>
   <h2><%= product.name %> </h2>
   <p><%= product.description %></p>
   <button class="js-more-buttons" data-id='<%= "product-#{product.id}" %>'>More Info</button>
</div>
<% end %>

<script>

  $(".js-more-buttons").on("click", viewMore)


function viewMore(){
  let id = $(this).data("id")
  $.get("/inventory", {"id": id.split("-")[1]},
     (data) => {
       $("#" + id + "-section p").remove()
       if( data == "false"){
          $("#" + id + "-section p").html("<p>Sold Out!</p>")
       }
       else{
          $("#" + id + "-section p").html("<p>Available!</p>")
       }

     }
  )

}

function showInventoryStatus(data, id){
  if( data == "false"){
     $("#" + id + "-section").append("<p>Sold Out!</p>")
  }
  else{
     $("#" + id + "-section").append("<p>Available!</p>")
  }
}
</script>
